{% import "AppBundle::macros.html.twig" as macros %}
{% if card.has_die %}
<div class="card-die">
  {% for face in card.sides %}
  <div class="card-die-face border-{{card.faction_code}}{% if face.type %} card-die-face-{{face.type.icon}}{% endif %}{% if not face.cost %} card-die-face-nocost{% endif %}{% if face.modifier %} card-die-face-modified{% endif %}">
    <div class="card-die-face-content">
      <span class="card-die-face-value">{{face.modifier ? '+' : ''}}{{ macros.integer_or_x(face.value) }}</span>{% if face.type %}<span class="icon-{{face.type.icon}}"></span>{% endif %}
    </div>
    {% if face.cost %}
    <div class="{% if face.indCostIndicator %}card-die-face-indirect-cost{% else %}card-die-face-cost{% endif %}">
      {{face.cost}}{% if face.indCostIndicator %}<span class="icon-indirect"></span>{% else %}<span class="icon-resource"></span>{% endif %}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endif %}